
<div ng-show="visible">
    <div class="has-feedback" ng-class="{'has-error': hasError}" style="width: calc(100% - 78px); float: left;border-top-right-radius: 0;border-bottom-right-radius: 0;">
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="hasError"></span>
        <angucomplete-alt pause="400" initial-value="{{editTypeahead[titleField]}}"
                          selected-object="selected"
                          remote-url="{{url}}"
                          title-field="{{titleField}}"
                          input-class="form-control edit-form-control"
                          input-changed="newInput"
                          match-class="highlight"/>
    </div>
    <button type="submit" class="btn btn-primary editable-submit" ng-click="submit()" style="height: 33px;border-radius: 0;border-left-width: 0px;">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button type="button" class="btn btn-default editable-cancel" ng-click="cancel()" style="height: 33px;border-top-left-radius: 0;border-bottom-left-radius: 0;margin-left: -4;border-left-width: 0px;">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>
<div ng-class="{'form-control pointer' :  over}"
     ng-mouseenter="over = true"
     ng-mouseleave="over = false"
     ng-click="show()"
     ng-hide="visible">
    <div ng-class="{'fake-form-control' :  !over}" >{{editTypeahead[titleField]}}  &nbsp;</div>
</div>